/* CSS Utilities -- set border box, set up a clearfix */
html {
    box-sizing: border-box
}

*, :before, :after {
    box-sizing: inherit
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

/* Type */
body {
    margin: 40px auto;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    background: #71A5A6 url(../img/water.jpg) no-repeat center center fixed;
    background-size: cover;
}

h1, h2, h3 {
    line-height: 1.2;
    font-family: 'Quando', serif;
    text-align: center;
    color: #DD7E00;
}

.page-wrap {
    background-color: rgba(255, 255, 255, .95);
    max-width: 75%;
    padding: 20px;
    margin: 20px auto;
}

/* Styling our input and our submit button */
.input-field {
    padding: 12px 10px;
    display: inline-block;
    border: 1px solid #CCC;
    box-shadow: inset 0 1px 3px #DDD;
    border-radius: 4px;
    font-size: 1em;

}

.submit-button {
    font-size: 1em;
    padding: 12px 10px;
    border: 1px solid #999;
    background-color: #E6E6E6;
    border-radius: 2px;
    line-height: 1;

}

@media (max-width: 800px) {
    .input-field {
        width: 70%;
    }

    .submit-button {
        width: 28%;
    }
}

@media (min-width: 801px) {
    .input-field {
        width: 80%;
    }

    .submit-button {
        width: 19%;
    }
}

@media (min-width: 1024px) {
    .input-field {
        width: 90%;
    }

    .submit-button {
        width: 9%;
    }
}

/* Styling our list */

.list-output ul {
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

.list-output li {
    list-style: none;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.list-output li button {
    border: 0;
    color: #bbb;
    background-color: transparent;
}

.task.task-done .task-info {
    text-decoration: line-through underline !important;
}

/* Style the icons! */

.task-mark-remove:hover {
    color: red;
}

